In [3]:
import yfinance as yf
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv
from yahooquery import search

In [21]:
load_dotenv()

#Pesquisar preços das ações de empresas de transmissão de energia elétrica
#* ELET4
#* ISAE4
#* TAEE4
#* ALUP4
ticker_acoes = ['ELET6.SA', 'ISAE4.SA', 'TAEE4.SA', 'ALUP4.SA']
valores = {}

for ticker in ticker_acoes:
    tickerData = yf.Ticker(ticker)
    tickerDf = tickerData.history(period="3mo", start='2010-03-01', end='2024-10-31') 
    valores[ticker] = tickerDf['Close']
    print(ticker + ' finalizado')

ELET6.SA finalizado
ISAE4.SA finalizado
TAEE4.SA finalizado
ALUP4.SA finalizado

In [22]:
valores

#transformar valores em um dataframe
df = pd.DataFrame(valores)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3648 entries, 2010-03-01 00:00:00-03:00 to 2024-10-30 00:00:00-03:00
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ELET6.SA  3648 non-null   float64
 1   ISAE4.SA  3637 non-null   float64
 2   TAEE4.SA  1867 non-null   float64
 3   ALUP4.SA  2030 non-null   float64
dtypes: float64(4)
memory usage: 142.5 KB

In [ ]:
df = df.rename_axis('data')
df.index = df.index.tz_localize(None)
df = df.resample('QE').last()
df = df.fillna(0)

In [32]:
df.tail(50)

             ELET6.SA   ISAE4.SA   TAEE4.SA  ALUP4.SA
data
2012-09-30   8.215001   1.160548   0.000000  0.000000
2012-12-31   4.722612   1.016096   0.000000  0.000000
2013-03-31   4.925397   1.031804   0.000000  0.000000
2013-06-30   4.708976   1.031804   0.000000  0.000000
2013-09-30   5.641073   1.067224   0.000000  0.000000
2013-12-31   5.350129   1.026104   0.000000  0.000000
2014-03-31   5.861974   0.938817   0.000000  0.000000
2014-06-30   6.538066   1.088820   0.000000  0.000000
2014-09-30   6.288999   1.443109   0.000000  0.000000
2014-12-31   5.068559   1.877402   0.000000  0.000000
2015-03-31   4.234176   1.809544   0.000000  0.000000
2015-06-30   5.368455   1.930342   0.000000  0.000000
2015-09-30   5.513377   2.012212   0.000000  0.000000
2015-12-31   6.578247   2.573638   0.000000  0.000000
2016-03-31   6.679063   2.722875   0.000000  0.000000
2016-06-30  11.096066   3.681210   0.000000  0.000000
2016-09-30  15.040496   3.887358   0.000000  2.113604
2016-12-31  16.313295   4.037616   0.000000  2.776077
2017-03-31  13.906315   4.053176   0.000000  4.082095
2017-06-30  11.217918   4.228545   3.477581  3.565260
2017-09-30  15.510943   4.478979   3.552469  3.759728
2017-12-31  15.517776   4.385885   3.351390  3.468026
2018-03-31  16.474819   4.359662   3.449961  3.414813
2018-06-30   9.262815   5.341321   3.244318  3.155332
2018-09-30  12.728678   5.383683   3.445363  3.007636
2018-12-31  19.257080  10.531302   4.281146  3.703023
2019-03-31  25.881189  11.743057   4.410708  5.222213
2019-06-30  25.664751  15.064726   4.963770  5.732079
2019-09-30  29.956463  15.390089   5.523345  5.240561
2019-12-31  27.261671  14.661714   6.341244  5.849768
2020-03-31  18.557041  12.317657   5.072995  4.139835
2020-06-30  22.984215  13.734421   5.879290  5.087784
2020-09-30  23.260498  14.413055   5.963026  5.016124
2020-12-31  27.593409  19.346418   7.457374  6.377644
2021-03-31  27.269447  18.756746   8.703602  6.062345
2021-06-30  34.904732  18.579027   8.855773  6.613679
2021-09-30  31.234371  18.371180   8.640654  6.036647
2021-12-31  26.628269  19.521526   9.094257  5.947872
2022-03-31  30.250229  21.231968  10.960896  6.761636
2022-06-30  39.231709  18.445475   9.761257  6.697177
2022-09-30  37.929585  18.445475  10.170173  7.208767
2022-12-31  36.316631  19.337893   9.115587  7.402551
2023-03-31  30.478085  18.219660   9.482058  7.022735
2023-06-30  38.917271  21.322132  10.259190  8.659739
2023-09-30  35.272053  19.674204   9.661306  8.336542
2023-12-31  41.067684  24.322889  10.891306  9.136147
2024-03-31  40.761734  22.780910  10.511359  8.740420
2024-06-30  36.626480  24.102606  10.336182  9.228009
2024-09-30  39.923779  22.303631  10.545673  9.318987
2024-12-31  38.681583  22.422951  10.609977  8.955547

In [33]:
path_dados_tratados = os.getenv('PATH_DADOS_TRATADOS')
df.to_csv(path_dados_tratados + 'preco_acoes.csv')